.container {
	display: flex;
	flex-direction: column;
}

.hcontainer {
	display: flex;
	flex-direction: row;
}

.header {
	align-items: center !important;
	align-content: center;
	flex-direction: row;
	flex-grow: 2;
}

.avatar {
	margin: 2vw;
}

.tab {
	margin-left: 2vw;
}


#main {
	width: 100%;
	padding: 1em;
	margin: 0 auto;
	box-sizing: border-box;
}

/* Extra small devices (phones, 500px and down) */
@media only screen and (max-width: 500px) {
	#main {
		width: 100%;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	.round-image {
		margin: auto;
	}

	.w3-container {
		padding: 0;
	}

	.avatar {
		margin-right: 4vw;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	#main {
		width: 95%;
		padding: 0.6em;
	}

	.avatar {
		margin-right: 4vw;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#main {
		padding: 1em;
		margin: 0 auto;
		box-sizing: border-box;
	}

	.menu-btn {
		font-size: 36px !important;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#main {
		width: 80%;
	}

	.menu-btn {
		font-size: 42px !important;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#main {
		width: 70%;
	}

	.menu-btn {
		font-size: 48px !important;
	}
}
