@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	background: url(../img/bg.jpg) no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

div {
	box-sizing: border-box;
}

a, p, span, b, i, u, li, div {
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	margin: 0;
}

pre code {
	border-radius: 5px;
	font-family: 'Courier New', Courier, monospace;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
	padding: 8px;
	box-sizing: border-box;
}

.rp-text {
	color: white;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.rp-divider {
	height: 1px;
	width: 100%;
	margin-top: 16px;
	margin-bottom: 16px;
	background: rgba(255, 255, 255, 0.5);
	box-sizing: border-box;
}

.mp-divider {
	height: 1px;
	width: 100%;
	margin-top: 16px;
	margin-bottom: 16px;
	background: rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}

.right-panel {
	width: 30%;

	border-right: 1px solid rgba(0, 0, 0, 0.2);
	padding: 24px;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
}

.main-panel {
	flex: 1 1 auto;

	background: white;
	padding: 24px;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
}

.me {
	background-image: url(../img/eu.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	width: 120px;
	height: 120px;
	border-radius: 100px;

	box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);

	align-self: center;

	margin-top: 20px;
	margin-bottom: 20px;
}

.social {
	list-style-type: none;
	margin: 0;
	padding: 0;
	align-self: center;
}

.social li {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.social li a {
	font-size: 26pt;
	color: rgba(255, 255, 255, 0.8);
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.social li a:hover {
	color: white;
}

.side-list {
	border-collapse: collapse;
	width: 100%;
}

.side-list span {
	color: white;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	margin-right: 10px;
}

.progress {
	background-color: rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 8px;
}

.progress .value {
	background-color:  white;
	height: 100%;
}

.container {
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
	border-radius: 20px;

	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(16px);

	overflow: hidden;

	box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);

	margin-top: 120px;
	margin-bottom: 120px;

	display: flex;
}

/* Extra small devices (phones, 500px and down) */
@media only screen and (max-width: 500px) {
	.container {
		width: 100%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.container {
		width: 95%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.container {
		width: 80%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.container {
		width: 60%;
	}
}

.image-library {
	display: flex;
	justify-content: flex-end;
	perspective: 900px;
	height: 100px;
	margin-bottom: 30px;
}

.image {
	height: 100%;
	width: auto;

	margin: 5px;
	cursor: pointer;

	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
	border: 5px solid white;

	transition: all 300ms;
}

.image:hover {
	transform: rotate(0deg) scale(1.2) !important;
	z-index: 10;
}

.link {
	color: rgb(41, 85, 231);
	text-decoration: none;

	transition: all 300ms;
}

.link:hover {
	border-bottom: 2px solid rgb(41, 85, 231);
}

.project {
	display: flex;
	align-items: center;
}

.project div {
	flex: 1 1 auto;
	margin-right: 12px;
}