@font-face {
	font-family: Terminal;
	src: url('font.ttf');
}

#asm {
	caret-color: white !important;
	color: white;
	resize: none;
	font-family: monospace;
	border-radius: 2px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	background: black;
	overflow: scroll;
	visibility: visible;
	padding: 10px;
	border: 1px white solid;
	box-sizing: border-box;
}

.CodeMirror {
	width: 320px !important;
	height: 100% !important;
	border: 1px white solid;
	box-sizing: border-box;
}

:root {
	--neon-text-color: #7cfcd6;
}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #ccc;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.screen {
	display: flex;
	flex-direction: row;
	background: #000;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
}

.screen-v {
	margin-left: 10px !important;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.buttons {
	padding: 10px;
}

#debugger {
	width: 240px;
	height: 480px;
	background: #fff;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
}

.dbg {
	background: orange;
}

.codeText {
	font-family: monospace;
	color: #000;
	margin: 0;
	padding: 0;
}

/* 44x24 */
#buffer {
	transition: all 200ms;
	color: var(--neon-text-color);
	font: 15px Terminal, monospace;
	line-height: 14px;
	font-smooth: never;
	-webkit-font-smooth: none;

	padding: 2px;
	box-sizing: border-box;

	text-shadow: 0 0 12px var(--neon-text-color);

	mix-blend-mode: screen;

	white-space: pre;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
							supported by Chrome and Opera */
	z-index: 5;
	outline: none;

	background: #000;

	border: 1px white solid;
}

#screen:focus {
	outline: none;
}

::-webkit-scrollbar {
	width: 12px;  /* for vertical scrollbars */
	height: 12px; /* for horizontal scrollbars */
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.4);
	border-radius: 8px;
}